*{
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ocupa toda la altura del viewport */
    background: linear-gradient(to bottom,#61349f,#4e278e, #3a1a7c);

}
/*div{
    display: grid;
    min-width: 30dvh;
    grid-template-rows: auto 1fr auto;   
    background: linear-gradient(to bottom,#ac4147,#f88863,#ffc27f );
}*/
header{
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
}
main {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    /*border: 2px solid black;*/
    padding: 10px 0; /* Rellena el espacio en lugar de márgenes */
    margin: 0; /* Asegura que no hay márgenes */   
}

footer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid black;*/
    text-align: center;
    padding: 10px;
    margin-top: 10px; /* Espacio entre el footer y el main */
    

}
h2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


.tarjetasContador {
 display: flex;
 flex-wrap:wrap; /*ESTO SIRVE PARA TRABAJAR CON FILAS*/
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap: 10px;
}

.cardAppend{
 width: 18rem;
 margin: 0 auto;
}

.cardAppend .card{
    background: linear-gradient(to bottom,#270d6b,#130059);
    color: white;
}
.bi-cart {
    font-size: 2rem; /* Cambia el tamaño del ícono */
    color: #007bff; /* Cambia el color del ícono */
}



.card .btn-primary.comprar {
    background-color: #3a1a7c;
    border: #3a1a7c;
  }
  



